---
import Base from '../layouts/Base.astro';
import Newoffre from '../components/Newoffre.astro';
---
<Base titre="Offres">
    <h1 class="text-9xl font-extrabold animate-bounce flex justify-center mt-10">Offres</h1>
    <Newoffre />
</Base>