---
import Base from '../layouts/Base.astro';
import Card from '../components/Card.astro';
import { getOffres } from "../backend.mjs";

const offres = await getOffres();
console.log(offres);

---
<Base titre="Offres">
    <h1 class="text-9xl font-extrabold animate-bounce flex justify-center mt-10">Offres</h1>
    <div x-data="{ showFavorites: false }">
        <div class="flex justify-center mt-10 mb-10">
            <button  class="bg-slate-950 text-slate-300 border border-slate-300 border-b-4 font-medium overflow-hidden relative px-4 py-2 rounded-md hover:brightness-150 hover:border-t-4 hover:border-b active:opacity-75 outline-none duration-300 group" @click="showFavorites = !showFavorites">
                <span  x-show="!showFavorites">Afficher les favoris</span>
                <span x-show="showFavorites">Afficher tout</span>
            </button>
        </div>
    
        <div class="flex justify-center gap-24" x-show="!showFavorites">
            {offres.map((offre) => <Card {...offre} />)}
        </div>
        <div class="flex justify-center gap-24" x-show="showFavorites">
            {offres.map((offre) => offre.favori && <Card {...offre} />)}
        </div>
    </div>
</Base>